.googleSignIn {
    margin: .5rem auto .5rem;
}

.link {
    display: block;
    width: 100%;
    background: #56638A;
    
    padding: 1rem 0;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    
    text-transform: uppercase;
    text-align: center;
    border: 0;
    outline: none;
    cursor: pointer;
    
    a {
        color: #f7dba7;
        font-weight: 400;
    }
}
