.btn {
    display: block;
    width: 100%;
    //test scheme
    background: #56638A;
    // background: black;
    // color: #ffffff;
    color: #f7dba7;
    padding: 1rem 0;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
}