.header {
    width: 1525px;
    height: 10rem;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
    //test scheme
    background-color: #2d4154;

    .wrap {
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0;

        .logo{
            width: 13.0rem;
            position: absolute;
            top: 50%; left: 50px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            img {
                height: 7rem;
                display: block;
                width: 80%;
                margin: 0;
            }
        }
        
        .actionsCall {
            position: absolute;
            top: 50%; right: 50px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);

            ul, li {
                margin: 0;
                padding: 0;
            }

            span {
                color: #f7dba7;
            }
            
            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 1.5rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 1.8rem;
                    line-height: 1;
                    //test scheme
                    color: #f7dba7;
                    // color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}
